* {
  background-color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* remove unwanted horizontal scroll */
}
.navbar {
  background-color: #000000;
  height: 4rem;
  display: flex;
  align-items: center;
}
.spotifyicon {
  color: white;
  font-size: 40px;
  padding-left: 1rem;

  padding-right: 2rem;
}
.homeicon {
  color: white;
  font-size: 25px;
}
.searchbar {
  margin-left: 2rem;
  height: 3rem;
  width: 30rem;
  display: flex;
  color: white;
  background-color: rgb(46, 44, 44);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  align-items: center;
}
.searchicon {
  font-size: 20px;
  margin-left: 1rem;
  margin-right: 1.5rem;
  background-color: rgb(46, 44, 44);
}
.browseicon {
  font-size: 20px;
  margin-left: 7.5rem;
  background-color: rgb(46, 44, 44);
}
.pre {
  display: flex;
  position: relative;
  color: rgb(132, 130, 130);
  margin-left: 18rem;

  font-size: 20px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-in 0s;
}
.pre:hover {
  color: white;
  font-size: 21px;
}
.sec {
  display: flex;
  position: relative;
  color: rgb(132, 130, 130);
  margin-left: 1rem;

  font-size: 20px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-out 0s;
}
.third {
  display: flex;
  position: relative;
  color: rgb(132, 130, 130);
  margin-left: 1rem;

  font-size: 20px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-out 0s;
}
.sec:hover {
  color: white;
  font-size: 21px;
}
.third:hover {
  color: white;
  font-size: 21px;
}
.instext {
  color: rgb(132, 130, 130);
  font-size: 15px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
}
.slash {
  color: white;
  font-size: 30px;
  margin-left: 1rem;
}
.installicon {
  margin-left: 0.5rem;

  color: rgb(132, 130, 130);
  margin-bottom: 0.2rem;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-out 0s;
  display: flex;

  position: relative;
}
.installicon:hover {
  color: white;
  font-size: 21px;
}
button {
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items:center;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  transition: all 0.1s ease-out 0s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: relative;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
button:hover {
  color: black;
  width: 105px;
  height: 45px;
}
.all {
  display: flex;
  flex-direction: row;
  gap: 10px;


  width: 100%;
  
}
.sidebar {

  width: 30%;
  background-color: #1a1919;
}

.one {
  color: white;
  display: flex;
  background-color: #1a1919;
}
.lib {
  background-color: #1a1919;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 1rem;
  color: white;
  display: flex;
}
.plus {
  background-color: #1a1919;
  margin-left: 17rem;
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 100;

  color: rgb(197, 193, 193);
}
.seco {
  width: 430px;
  height: 300px;
  overflow-y: auto;
  background: #1a1919; /* dark background like Spotify */
  color: white;
  padding: 10px;
}
.seco::-webkit-scrollbar {
  width: 8px;
}
.seco::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.seco::-webkit-scrollbar-thumb {
  background-color: #1a1919; /* scrollbar color */
  border-radius: 10px; /* rounded corners */
}

.seco::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* lighter on hover */
}

/* For Firefox */
.seco {
  scrollbar-width: thick; /* make it thin */
  scrollbar-color: #1a1919 transparent; /* thumb | track */
}
.first {
  background-color: #2d2b2b;
  height: 40%;
  border-radius: 20px;
  margin-bottom: 3rem;
  padding-top: 10px;
}
.two {
  background-color: #2d2b2b;
  height: 40%;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: 20px;
}
.ak {
  background-color: #2d2b2b;
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.do {
  background-color: #2d2b2b;
  color: white;
  font-size: 10px;
  margin-left: 1rem;
  font-weight: 500;
}
.bt {
  margin-top: 1rem;
  background-color: #2d2b2b;
}
.side {
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 10px;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  transition: all 0.1s ease-out 0s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: relative;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lastopts {
  color: #ffffff;
  background-color: #1a1919;
  height: 300px;
  width: 300px;

  flex-wrap: wrap; /* wrap to next line */
  gap: 40px; /* spacing between links */
  margin-bottom: 20px;

  margin-top: 20px;
  font-size: 15px;
}
.lastsidediv {
  background-color: #1a1919; /* dark background */
  padding: 20px;

  color: #b3b3b3;
  font-size: 12px;
}

a {
  text-decoration: none;
 
  display: inline-block;
  justify-content: space-evenly;

  margin-left: 30px;
  font-size: 13px;
  background-color: #1a1919;
  color: #969090;
}
.lastopts a:hover {
  text-decoration: underline;
}

.btn {
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;

  align-items: center;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  width: fit-content;
}
.btn:hover {
  border-color: #fff;
}
.maincontent {
  width: 70%;
  height: 665px;
  overflow-y: auto;

  background-color: #1a1919;
}
.maincontent::-webkit-scrollbar {
  width: 8px;
}
.maincontent::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.maincontent::-webkit-scrollbar-thumb {
  background-color: #1a1919; /* scrollbar color */
  border-radius: 10px; /* rounded corners */
}

.maincontent::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* lighter on hover */
}

/* For Firefox */
.maincontent {
  scrollbar-width: thick; /* make it thin */
  scrollbar-color: #1a1919 transparent; }

.divone {
  background-color: #1a1919;
  color: white;
  display: flex;
  height: 60px;
  margin-left: 1rem;
}
.show:hover {
  text-decoration: underline;
}
.show {
  margin-left: 47rem;
  background-color:#1a1919;
  margin-top: 2REM;
  color: #969090;
  font-weight: 600;
}
.trend {
  background-color: #1a1919;
}
.trend:hover {
  text-decoration: underline;
}
.songs {
  display: flex;
  gap: 16px;     
  background-color: #1a1919;           /* Space between cards */
  overflow-x: auto;          /* Enable horizontal scroll */
  padding: 20px;
  scrollbar-width: thin;     /* Firefox scrollbar */
  scrollbar-color:#1a1919;

}
.songs::-webkit-scrollbar {
  width: 8px;
}
.songs::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.songs::-webkit-scrollbar-thumb {
  background-color: #1a1919; /* scrollbar color */
  border-radius: 10px; /* rounded corners */
}

.songs::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* lighter on hover */
}

/* For Firefox */
.songs {
  scrollbar-width: thick; /* make it thin */
  scrollbar-color:#1a1919 transparent;
  
}


/* Card Design */
.block {
width: 200px;           
  background:#1a1919;
  color: #fff;
 
  border-radius: 12px;
 
  padding: 10px;

  transition: transform 0.2s ease;
}

.block:hover {
  transform: scale(1.05);
  background-color: #2d2b2b;
}
.line{
  background-color: #1a1919;
}
.line a{
  display: inline-block;


  background-color:none;
  margin-left: 10px;
  margin-top: 10px;
  

}
.lanetwo{
  color: grey;
}


.block .line {
  color:white; /* default text color */
  text-decoration: none;
  transition: color 0.3s ease;
 
}
.line:hover a{
  text-decoration: underline;
}
.block:hover .line{
  background-color: #2d2b2b;
}
.laneone{
  color: #ffffff;
  
  font-size: 15px;
}

.block:hover .line a {
  color:white; /* text color changes when block is hovered */
  background-color:#2d2b2b;
}
/* .regard{

  color: #ffffff;
  background-color:#1a1919;
  

  margin-left: 0px;

}
.regard:hover{
  background-color:#2d2b2b;
} */

.imgc {
  margin-left: 0.7rem;
  margin-right: 5rem;
 
  width: 180px;
  height: 200px;
  display: flex;

  border-radius: 10px;
  background-size: cover;

  
 
}
.imeg{
   margin-left: 0.7rem;
  margin-right: 5rem;
 
  width: 150px;
  height: 150px;
  display: flex;

  border-radius: 50%;
  background-size: cover;
}
.play-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
  margin-right: 1rem;
  background: #178d40; /* Spotify green */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  font-weight: bold;
  opacity: 0;              /* Hidden */
  transform: scale(0.9);   /* Slightly smaller */
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.play-button:hover{
  background-color: #3bc069;
  transition: opacity 0.2s ease,transform 0.3s ease;
}
/* Show ONLY on hover */
.block:hover .play-button {
  opacity: 1;
  transform: scale(1);
}

.artist{
  display: flex;
  gap: 16px;     
  background-color: #1a1919;           /* Space between cards */
  overflow-x: auto;          /* Enable horizontal scroll */
  padding: 20px;
  scrollbar-width: thin;     /* Firefox scrollbar */
  scrollbar-color:#1a1919;
  white-space: nowrap;
 

}
.artist::-webkit-scrollbar {
  width: 8px;
}
.artist::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.artist::-webkit-scrollbar-thumb {
  background-color: #1a1919; /* scrollbar color */
  border-radius: 10px; /* rounded corners */
}

.artist::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* lighter on hover */
}

/* For Firefox */
.artist{
  scrollbar-width: thick; /* make it thin */
  scrollbar-color:#1a1919 transparent;
  
}
.Artist {
  background-color: #1a1919;
  color: #ffffff;
}
.Artist:hover {
  text-decoration: underline;
}
.album{
  display: flex;
  gap: 16px;     
  background-color: #1a1919;           /* Space between cards */
  overflow-x: auto;          /* Enable horizontal scroll */
  padding: 20px;
  scrollbar-width: thin;     /* Firefox scrollbar */
  scrollbar-color:#1a1919;
  white-space: nowrap;
 

}
.album::-webkit-scrollbar {
  width: 8px;
}
.album::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.album::-webkit-scrollbar-thumb {
  background-color: #1a1919; /* scrollbar color */
  border-radius: 10px; /* rounded corners */
}

.album::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* lighter on hover */
}

/* For Firefox */
.album{
  scrollbar-width: thick; /* make it thin */
  scrollbar-color:#1a1919 transparent;
  
}
.album {
  background-color: #1a1919;
  color: #ffffff;
}
.album:hover {
  text-decoration: underline;
}

footer {
      background-color:#1a1919;
   
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-col {
      display: flex;
      flex-direction: column;
     
    width: 200px;
    height: 250px;
    background-color: #1a1919;
    }

    .footer-col h4 {
      font-size: 14px;
      font-weight: bold;
      color: white;margin-left: 15px;
      background-color: #1a1919;
      margin-bottom: 15px;
    }

    .footer-col a {
      color: #b3b3b3;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 8px;
      transition: color 0.3s;
    }

    .footer-col a:hover {
      color: white;
      text-decoration: underline;/* Spotify green */
    }

    .social-links {
      display: flex;
      gap: 5px;
      margin-top: 20px;
      background-color: #1a1919;
    }

    .social-links a {
      background:#1a1919;
      height: 40px;
      width: 40px;
     
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 0.3s;
    }

    .social-links a:hover {
      background:white;
    }

    .social-links i {
      font-size: 18px;
      color: white;
      background-color: #1a1919;
    }

    /* Divider line */
    .footer-bottom {
      border-top: 1px solid  #1a1919;
      margin-top: 20px;
    }

    .lastfoot{
      border-top: 1px solid #333;
  padding: 20px 80px;
  background-color: #121212;
  color: #b3b3b3;
  font-size: 12px;
  width: 100%;
 
    }